* {
    box-sizing: border-box;
}

body {
    max-width:800px;
    font-family: Monospace;
    background-color: #072227;
    color: #293462;
}

/* headers */

h1, h2 {
    text-align: center;
    font-variant: small-caps;
    background-color: #aefeffd9; /* TODO */
    border-radius: 25px;
    text-shadow: -1px -1px #0abdc6, 1px 1px #7d12ff, 2px 2px #00fff9, 4px 4px #00b8ff, 6px 6px #ff238e, 9px 9px #ab46d2;
}

h1 {
    font-size: 3rem;
    padding: 10px;
    border-bottom: 10px solid #ff238e;
}
  
h2 {
    font-size: 2.5rem;
    border-top: 5px solid #ff238e;
    border-bottom: 5px solid #13ABC4;
    padding-top: 0px;
    padding-bottom: 5px;
}

/*
h2:hover {
    color:#ff238e;
    background-color:#7d12ff;
    border-top: 5px solid #13ABC4;
    border-bottom: 5px solid #ff238e;
    text-shadow: -1px -1px #0abdc6, 1px 1px #7d12ff, 2px 2px #ff238e, 4px 4px #00b8ff, 6px 6px #00fff9, 9px 9px #ab46d2;
}
*/
  
h3 {
    font-size: 1.25rem;
    text-decoration: underline #ff238e wavy 1px;
}

h3:hover{
    text-decoration:none;
}

/* links */

a:link {
    color:#7d12ff;
}

a:visited{
    color:#072227;
}

.footer:visited{
    color: #00b8ff;
}

a:hover{
    color:#ff238e;
}



ul {
    display: table;
    margin: auto;
    border-left: 5px dotted #ff238e;
    border-bottom: 5px solid #13ABC4;
    background-color: #AEFEFFB3;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
}

p {
    max-width:70%;
    margin: auto;
    border-left: 5px dotted #ff238e;
    border-bottom: 5px solid #13ABC4;
    background-color: #AEFEFFB3;
    border-radius: 5px;
    padding: 10px;
}

img {
    display: table;
    margin: auto;
    padding: 10px;
    background-color: #ff6fb5;
    border-radius: 5px;
    border: 5px solid #13ABC4;
}

form {
    padding: 0px 5px 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 10px double #ff238e;
    border-bottom: 10px solid #13ABC4;
    text-align: center;
    max-width: 70%;
    background-color: #AEFEFFD9;
    margin: auto;
    font-size: 1rem;
}

fieldset {
    border: 6px dashed #ff238e;
    padding: 4px 4px 16px;
    margin: 16px;
}

legend {
  padding: 10px 16px 4px 16px;
  font-size: 1.2rem;
  text-shadow: -1px -1px 1px #13ABC4, 0px 0px 5px #13ABC4;
}

/*
legend:hover {
  text-shadow: -1px -1px 1px #ff238e, 0px 0px 5px #ff238e;
}
*/

button {
    text-align: center;
    background-color: #0abdc6;
    margin:auto;
    display: block;
    width: auto;
    padding: 10px;
    border-top: 4px solid #ff238e;
    border-bottom: 4px solid #133e7c;
    border-left: 4px solid #711c91;
    border-right: 4px solid #711c91;
    border-radius: 10px;
    font-size: 1rem;
    font-family: Monospace;
}

button.button2 {
    text-align: center;
    text-shadow: -1px -1px 2px #ff6fb5, 1px 1px 2px #13ABC4;
    color: #EEEEEE;
    background-color: #176B87;
    margin:auto;
    display: block;
    width: auto;
    padding: 10px;
    border-top: 4px solid #ff6fb5;
    border-bottom: 4px solid #711c91;
    border-left: 4px solid #13ABC4;
    border-right: 4px solid #13ABC4;
    border-radius: 50px;
    font-size: 1rem;
    font-family: Monospace;
}

button.button2:hover {
    background-color: transparent;
    text-shadow: 0px 12px 1px #13ABC4, 0px -12px 1px #13ABC4, 0px 6px 1px #ff6fb5, 0px -6px 1px #ff6fb5;
    border: none;
}

input.text {
    text-align: center;
    max-width: 80%;
    background-image: linear-gradient(90deg, rgba(19,171,196,1) 0%, rgba(255,111,181,1) 20%, rgba(255,255,255,1) 50%, rgba(255,111,181,1) 80%, rgba(19,171,196,1) 100%);
    border-radius: 5px;
}

footer {
  text-align: center;
  padding: 16px;
  background: #09183380;
  color: #bdbdbd;
}