@import url(https://fonts.bunny.net/css?family=architects-daughter:400|beth-ellen:400|vt323:400|syne-mono:400);

* {
    box-sizing: border-box;
}

body {
    max-width:1000px;
    margin: auto;
    font-family: "Syne Mono", monospace;
    background-color: #072227;
    color: #293462;
}

body::before {
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #ab46d250;
    z-index: -2;
}

/* headers */

h1, h2, h3 {
    margin:auto;
    text-align: center;
}

h1, h2 {
    background-color: #00fff9cc;
    border-radius: 25px;
    text-shadow:    -1px -1px #0abdc6,
                     1px  1px #7d12ff,
                     2px  2px #00fff9,
                     4px  4px #00b8ff,
                     6px  6px #ff238e,
                     9px  9px #ab46d2;
}

h1 {
    font-family: "beth ellen", handwriting;
    font-size: 2.5rem;
    border-bottom: 10px solid #ff238e;
    width: 75%;
}
  
h2 {
    font-size: 2.5rem;
    border-top: 5px solid #ff238e;
    border-bottom: 5px solid #13ABC4;
    padding-top: 0px;
    padding-bottom: 5px;
    width: 70%;
}

h3 {
    width: 70%;
    font-size: 1.25rem;
}

h3:hover{
    text-decoration:none;
}

/* links */

a:link {
    color:#7d12ff;
}

a:visited{
    color:#072227;
}

.footer:visited{
    color: #00b8ff;
}

a:hover{
    color:#ff238e;
}



ul {
    display: table;
    margin: auto;
    border-left: 5px dotted #ff238e;
    border-bottom: 5px solid #13ABC4;
    background-color: #AEFEFFB3;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
}

p {
    max-width:70%;
    margin: auto;
    border-left: 5px dotted #ff238e;
    border-bottom: 5px solid #13ABC4;
    background-color: #AEFEFFB3;
    border-radius: 5px;
    padding: 10px;
}

img {
    display: table;
    margin: auto;
    padding: 10px;
    background-color: #ff6fb5;
    border-radius: 5px;
    border: 5px solid #13ABC4;
}

form {
    padding: 0px 5px 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 10px double #ff238e;
    border-bottom: 10px solid #13ABC4;
    text-align: center;
    max-width: 70%;
    background-color: #AEFEFFD9;
    margin: auto;
    font-size: 1rem;
}

button {

    color:#072227;
    background: #00fff9cc;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px outset #ff238e;

}

.k-buttons{

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:5px;

}

.choice-buttons {
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

button.modifier {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 6px;
    font-size: 1.5rem;
    font-family: 'VT323', mono;
}

button.option {
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
    width: 120px;
    height: 120px;
    padding-bottom: 2px;
    font-size: 1rem;
    font-family: 'Beth Ellen', handwriting;
    margin:8px;
}

input.text {
    text-align: center;
    max-width: 80%;
    background-image: linear-gradient(90deg, rgba(19,171,196,1) 0%, rgba(255,111,181,1) 20%, rgba(255,255,255,1) 50%, rgba(255,111,181,1) 80%, rgba(19,171,196,1) 100%);
    border-radius: 5px;
}

footer {
  text-align: center;
  padding: 16px;
  background: #09183380;
  color: #bdbdbd;
}

.hidden {
    visibility: hidden;
}